[Unit]
Description=no_dup_bot
After=network.target network-online.target
Requires=network-online.target

[Service]
Type=simple
User=root
Group=root
Environment="TELOXIDE_TOKEN=<YOUR_BOT_TOKEN>"
Environment="NO_DUP_BOT_ADMIN=<ADMIN_USER_ID>"
Environment="NO_DUP_BOT_NAME=no_dup_bot"
Environment="NO_DUP_BOT_TIME_OUT_DAYS=10"
ExecStart=<YOUR_PATH>/no_dup_bot/target/release/no_dup_bot
WorkingDirectory=<YOUR_PATH>/no_dup_bot/target/release
TimeoutStopSec=5s
PrivateTmp=true
ProtectSystem=full
Restart=always
RestartSec=5
StartLimitInterval=0

[Install]
WantedBy=multi-user.target